{% extends 'base.html' %}

{% block title %}
{{ user.first_name}} {{ user.last_name }}
{% endblock %}


{% block content %}

<div class="media mt-4">
    <img src="{{ user.image_url }}" alt="User Image Here" class="align-self-center mr-3 img-thumbnail rounded" width="100px" height="auto">
    <div class="media-body">  
        <h1>{{ user.first_name}} {{ user.last_name }}</h1> 
        <a class="btn btn-primary btn-sm rounded" href="/users/{{ user.id }}/edit" role="button">Edit</a>
        <form action="/users/{{ user.id }}/delete" method="POST" class="d-inline-block">
            <button type="submit" class="btn btn-danger btn-sm rounded">Delete</button>
        </form>
    </div>
</div>
{% endblock %}